*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
.idea/
.vscode/
*.log
output/
checkpoints/
*.pt
*.bin
venv/
*.pickle
*.json
*.txt
*.csv
*.pdf
*.xlsx
## Experimentations
experimentations/sample/*
experiments/*
data/*
*.env
*.tsv
## indivisual one time test folders
test_aspect_dataset_splitter_output/*
test_aspect_processor_debug_output/*
test_aspect_processor_output/*
test_aspect_splitter_output/*

test_no_miner_output/*
test_with_miner_output/*

elasticsearc*
.env
.env
benchmarking.ipynb
benchmarks_batch.py
benchmarks2.py
output_archive/*
output_mini/*
output_nano/*